BASE_URL=https://hsr-team-builder.gilded.dev
API_BASE_URL=https://api.hsr-team-builder.gilded.dev
FRONTEND_BASE_URL=https://hsr-team-builder.gilded.dev
BACKEND_BASE_URL=https://api.hsr-team-builder.gilded.dev
CI=false
TEST_ENV=production
